## Q1

In [1]:
a='ambition'
b=["apple", "banana", "cherry"]
c=12.5
d=("apple", "banana", "cherry")

## Q2

In [15]:
## 1.string
## 2. string
## 3.list
## 4.float

## Q3

In [16]:
## 1. Division 
## 2. Modulus
## 3. Floor divison
## 4. Exponentiation

In [17]:
a= 5/2
print(a)
b= 11%2
print(b)
c=5//2
print(c)
d=2**5
print(d)

2.5
1
2
32

## Q4

In [19]:
L=[2, 'CAT', 3,4.5, [2,'DEW'], 'GOAT', 2,4,5,10]

for i in L:
    print(i)
    print(type(i))

2
<class 'int'>
CAT
<class 'str'>
3
<class 'int'>
4.5
<class 'float'>
[2, 'DEW']
<class 'list'>
GOAT
<class 'str'>
2
<class 'int'>
4
<class 'int'>
5
<class 'int'>
10
<class 'int'>

## Q5

In [ ]:
a=10
b=2
while a%b==0 :
    print('a is purely divisible by b')

## Q6

In [ ]:
list1=[10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34]

for i in list1:
    if i%3==0:
         print(i, "divisible by 3")
    else:
        print(i, "not divisible by 3")

## Q7

In [ ]:
## Mutable property means we can add new element and make change 
## Immutable means make change to the data type(eg: adding new element) is not possible 

## Mutable > list 

l=[1,2,3]
l[2]=10. 
print(l)


## immutable > tuple 
k=[1,2,3]
k[2]=10
print(k)